* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    color: rgba(0, 0, 0, 0.726);
}

:root {
    --bg-primary: #FF9100;
    --bg-primary-light: #FFA733;
    --bg-text: rgba(0, 0, 0, 0.726);
    --bg-dark: #18222c;
    --font-primary: 'Montserrat', sans-serif;
}
